.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 70%;
    width: 900px;
    max-width: 100%;
    min-width: 900px;
    margin: 20px auto;
    /* margin: 10px 0 10px;
    padding: 10px 5px; */
    background: #e3e3e3;
}

.footer>ul>li {
    display: inline;
}


.footer-links{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
    padding-bottom: 10px;
}
