.user-blog-container {
    display: flex;
    flex-direction: column;
    width: 900px;
    max-width: 100%;
    min-width: 900px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 10px;
}


.blog-entry-container {
    background-color: #BFDBFE;
    margin-top: 15px;
    padding: 15px;
}

.blog-title {
    /* font-size: 20px; */
    font-weight: bold;
}

.blog-body {
    font-size: 90%;
    margin-top: 10px;
}
