.user-blog-container {
    display: flex;
    flex-direction: row;
    width: 900px;
    max-width: 100%;
    min-width: 900px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 10px;
}

.blog-entry-outer {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 100%;
}

.blog-entry-container {
    background-color: #BFDBFE;
    margin-top: 15px;
    padding: 15px;
    white-space: normal;
    line-break: normal;
    word-break: break-all;
}

.blog-title {
    /* font-size: 20px; */
    font-weight: bold;
}

.blog-body {
    font-size: 80%;
    margin-top: 10px;
}

#blog-form-title {
    font-weight: bold;
}

.blog-username {
    font-weight: bold;
    padding-bottom: 10px;
}

.blog-entry-profile{
    /* margin: 0 0 10px 0; */
    /* padding: 10px 20px 20px 20px; */
    padding: 10px;
    width: 20%;
    overflow-wrap: break-word;
    word-break: break-word;
}

.blog-profile-details {
    padding-top: 10px;
    white-space: pre-line;
}

#view-blog-entry {
    padding-top: 20px;
    font-size: 90%;
}

#blog-date {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 70%;
    margin-left: -10px;
    margin-top: -10px;
}
