.edit-profile-container {
    width: 900px;
    max-width: 100%;
    min-width: 900px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.edit-profile-form-container {
    padding: 20px;
}

.edit-profile-textarea {
    width: 80%;
    height: 200px;
    resize: none;
}

#form-label {
    font-weight: bold;
    padding: 15px 0;
}

#category {
    padding-top: 20px;
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
}

.edit-profile-form-button {
    padding-top: 15px;
}

#status-label {
    padding: 15px 0;
}

.examples {
    padding-top: 15px;
    padding-bottom: 50px;
}

#examples {
    font-weight: bold;
}

#examples-example {
    font-style: italic;
}

.edit-profile-input {
    width: 40%;
    /* height: 50px; */
}

#profile-brief {
    padding-top: 30px;
}

#profile-mood {
    font-weight: bold;
}

#profile-view-my {
    font-weight: bold;
    padding-top: 10px;
}


.links-form {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}

.links-form-left {
    display: flex;
    flex-direction: column;
}

.edit-links-input {
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.links-front {
    font-size: 90%;
}

.profile-img-edit {
    max-width: 90%;
    max-height: 90%;

}

.profile-img-edit-container {
    display: flex;
    justify-content: left;
    width: 70%;
    height: 70%;
}

.edit-image-input {
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#add-link-text {
    margin-top: 20px;
    font-size: 90%;
    font-weight: bold;
}


.edit-pic-form-container {
    padding: 20px;

}

.edit-pic-button {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    margin-top: 50px
}

#edit-pic-form {
    display: flex;
    flex-direction: row;
    /* height: 500px; */
}


.pic-rules-container {
    padding-left: 20px;
    display: flex;

}

.right-side-container {
    width: 50%;
}

.pic-rules {
    border: 1px solid #5FA4FA;
    width: 70%;
    background-color: #BFDBFE;
    padding: 10px;

}

.pic-rules > div {
    padding: 5px;
}


.pics-form-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    row-gap: 10px;
}

.remove-profile-pic {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 10px;
}

#remove {
    width: fit-content;
}
