.edit-profile-container {
    width: 900px;
    max-width: 100%;
    min-width: 900px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.edit-profile-form-container {
    padding: 20px;
}

.edit-profile-textarea {
    width: 80%;
    height: 200px;
    resize: none;
}

#form-label {
    font-weight: bold;
    padding: 15px 0;
}

#category {
    padding-top: 20px;
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
}

.edit-profile-form-button {
    padding-top: 15px;
}

#status-label {
    padding: 15px 0;
}

.examples {
    padding-top: 15px;
    padding-bottom: 50px;
}

#examples {
    font-weight: bold;
}

#examples-example {
    font-style: italic;
}

.edit-profile-input {
    width: 40%;
    /* height: 50px; */
}

#profile-brief {
    padding-top: 30px;
}

#profile-mood {
    font-weight: bold;
}

#profile-view-my {
    font-weight: bold;
    padding-top: 10px;
}
